@font-face {
  font-family: 'Leky Calgria';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/leky.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Bodoni Moda';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/bodoni-moda-all-400-normal.woff') format('woff');
  font-display: swap;
}
@font-face {
  font-family: 'Bodoni Moda';
  font-style: italic;
  font-weight: 400;
  src: url('/fonts/bodoni-moda-all-400-italic.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Bodoni Moda';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/bodoni-moda-all-700-normal.woff') format('woff');
  font-display: swap;
}
@font-face {
  font-family: 'Bodoni Moda';
  font-style: italic;
  font-weight: 700;
  src: url('/fonts/bodoni-moda-all-700-italic.woff') format('woff');
  font-display: swap;
}

.bg-img {
  position: relative;
}
.bg-img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/images/hero-alt.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: brightness(0.8);
  z-index: -1;
}
.counter-container {
  border: 2px solid rgba(133, 77, 14, 0.5);
  border-radius: 0.25rem;
  padding: 1rem;
}

#calendar-button {
  background-color: rgba(247, 237, 226, 0.8);
  color: rgb(133, 77, 14);
  border-radius: 0.25rem;
  padding: 0.75rem 1.5rem;
  margin-top: 2rem;
}

.bg-logo {
  opacity: 0.3;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
}
#header > div {
  transition: all 0.2s ease-in-out;
}

#header > div:hover {
  color: white;
}

.place-card {
  background-image: url("/images/la_cayetana.jpg");
  background-size: cover;
  background-position: center;
}